@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500|Exo:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap" rel="stylesheet">');

/*-------------------------------------- Background Color */
.navbar {
    background-color: white;
}

.bg-color-contact {
    background-color: #fff;
}

/*-------------------------------------- Alert */
.alert {
    margin: 0;
}

/*-------------------------------------- Nacbar */

.nav {
    position: absolute;
    text-align: right;
    z-index: 1;
    color: #fff;
    right: 0;
    font-family: "Exo", sans-serif;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

/*-------------------------------------- Signature */

.sign {
    font-family: 'Aguafina Script', cursive;
    font-size: 35px;
}

/*-------------------------------------- Image */

.img-fluid {
    position: relative;
    width: 100%;
}



/*--------------------------------Content container */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*-------------------------------Page header */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/*--------------------------------Block dividers*/


.block-divider--short {
    width: 45px;
    background-color: #ffd700;
}

/*-------------------------------- Contact-page*/

.contact-page i {
    font-size: 30px;
    color: #004085;
    text-align: center;
    padding-left: 5px;
    padding-top: 5px;
    transition: color 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-page i:hover {
    color: #ffd700;
}

/*-------------------------------------- Footer */

footer {
    background-color: #cce5ff;
    color: #004085;
    min-height: 120px;
    margin: 0;
}

.price-list-pdf i {
    font-size: 18px;
    color: #004085;
    text-align: center;
    padding-left: 5px;
    transition: color 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.price-list-pdf i:hover {
    color: #ffd700;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #ffd700;
}

#footer-details {
    padding: 20px;
}

/*----------------------------------------Contact Form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #ffd700;
}

/*----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}


.video {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase!important;
    text-align: center;
}

/*------------------------------------ Design Gallery */

.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}